#main.index
  :each article in articles.slice(0,15)
    .article
        
      %h3
        %a{href: "/" + article.name}&= article.title
      .date{title: article.date}&= formatDate(article.date, "%Y.%m.%d")
      = intro(article.markdown)
      %a.more{href: "/" + article.name} Read more...

#sidebar
    %h4
      Biography
    %div
      I'm a software engineer at 
      %a(href='http://www.7digital.com') 7digital 
       and a keen cyclist. This blog is mostly about software engineering and web development. My cycling adventures may make an occassional mention.

    %h4
      Articles

    %ul
      :each article in articles.slice(0,20)
        %li
          %a{href: "/" + article.name}&=article.title

