#container {
  margin: 40px 5%;
  overflow: hidden;
}
#header {
  padding-top: 30px;  
  margin-left: 5%;
  font-size: 1.4em;
  line-height: 1.7em;

  border-bottom: 1px dashed #cccccc;
width: 950px;
}
#header a {
  font-size: 2em;
  border: 0;
}
a.more {
  padding-top: 10px;
  font-size: 1.2em;
text-decoration: underline !important;
}
#main {
  float: left;
  width: 65%;
  margin-right: 5%;
  max-width: 800px;
}
#sidebar {
  float: left;
  width: 30%;
  position: relative;
  max-width: 430px;
}
.article {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}
.article-page{
  width: 850px;
}
.article-page ul{
  color: Black;
  margin-top:10px;
  line-height: 2.5em;
  padding-left: 25px;
  font-size: 1.0em;
}
.article .snippet {
  position: relative;
}
.article .snippet .code-link {
  position: absolute;
  padding: 0px 2px;
  background: #fafafa;
  border: 1px solid #fff;
  font-size: 10px;
  top: 3px;
  right: 3px;
}
.article .snippet .code-link:hover {
  opacity: 0.8;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}
.article .snippet .output {
  position: relative;
  padding: 20px 20px 10px;
  border: 1px dashed #ddd;
  border-left: none;
  border-right: none;
  background-color: #fafafa;
  -webkit-box-shadow: inset 0px 1px 0px #fff;
  -moz-box-shadow: inset 0px 1px 0px #fff;
  box-shadow: inset 0px 1px 0px #fff;
}
.article .snippet .output dd {
  font-family: 'Monaco', 'Menlo', monospace;
  font-size: 13px;
  clear: left;
  color: #333;
  text-shadow: 0px 1px 0px #fff;
}
.article .snippet .output dt {
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #e5e5e5;
  padding: 5px 8px;
  line-height: 12px;
  color: #999;
  text-shadow: 0px 1px 0px #fff;
  float: left;
  position: relative;
  top: -10px;
}
.article .snippet .output:after {
  content: '';
  border: 1px dashed #ccc;
  border-top: none;
  border-bottom: none;
  position: absolute;
  top: -21px;
  left: 20px;
  right: 20px;
  height: 20px;
}
#sidebar .aside,
#sidebar .bubble {
  margin-bottom: 20px;
}
#sidebar h3,
#sidebar h4 {
  padding: 10px 0px;
  border-bottom: 1px dashed #aaa;
  margin-bottom: 10px;
  line-height: 16px;
  font-size: 16px;
  text-shadow: 0px 1px 0px #fff;
}
#sidebar p {
  margin-bottom: 20px;
}
#sidebar div {
  margin-bottom: 20px;
}
#sidebar ul {
  overflow: hidden;
}
#sidebar li {
  list-style: none;
  padding: 8px;
  color: #333333;
}
#sidebar li:first-child {
  border-top: none;
}
#sidebar li a {
  color: #333333;
  display: block;
  margin-left: -8px;
}
#sidebar li span {
  border: 1px solid #422100;
  margin-left: 5px;
  padding: 2px 3px;
  font-size: 10px;
  line-height: 10px;
  color: #422100;
}
#sidebar img {
  float: right;
  width: 150px;
  height: 150px;
  margin-left: 10px;
  border: 1px solid #fff;
  -webkit-box-shadow: 0px 0px 0px 1px #dadada;
  -moz-box-shadow: 0px 0px 0px 1px #dadada;
  box-shadow: 0px 0px 0px 1px #dadada;
}
#sidebar dt {
  font-weight: bold;
}
#sidebar dd {
  margin-bottom: 10px;
}
#sidebar .twitter-share-button {
  margin-bottom: 10px;
}
#main.index h3 {
  font-size: 2em;
  line-height: 1.8em;
}

pre code {
  font-family: 'Monaco', 'Menlo', monospace;
  font-size: 13px;
  background-color: #dedede;
  display: block;
  padding: 20px;
  overflow: auto;
  margin: 20px 0px;
  clear: both;
  color: #000000;
  border: solid 1px #aaaaaa;
}




* {
margin:0;
padding:0
}

body {
font:80% Georgia, Helvetica, Verdana, Arial, Sans-serif;
background-repeat:repeat-x;
background-color:#fff;
color:#293a43
}

p {
font-family:Georgia,Arial;
font-size:1.1em;
font-weight:400;
color:#000;
padding-left:0;
padding-top:15px;
line-height:1.5em
}

a {
color:#333;
font-weight:400;
font-style:normal;
text-decoration:none;
border-bottom:1px dotted #bbb;
padding-bottom:1px
}

a:link {
color:#333;
font-weight:400;
font-style:normal;
text-decoration:none
}

a:visited {
color:#333;
font-style:normal;
font-weight:400;
text-decoration:none;
padding-bottom:1px;
border-bottom:1px dotted #bbb
}

a:hover {
color:#333;
font-style:normal;
border-bottom:1px dotted #bbb;
}

#main {
float:left;
width:610px;
font-size:1.1em;
margin-left:0;
margin-top:0;
margin-bottom:15px;
background:transparent;
padding:0 0 20px
}

#main a:link {
color:#333;
font-weight:400;
font-style:normal;
border-bottom:1px dotted #828181
}

#main a:visited {
color:#333;
font-style:normal;
font-weight:400;
border-bottom:1px dotted #828181
}

#main a:hover {
color:#333;
font-style:normal;
}

#main h2 {
font-family:Georgia, Helvetica, Arial, Sans-serif;
font-weight:400;
color:#000;
line-height:normal;
letter-spacing:-1px;
padding-bottom:8px;
padding-left:0;
display:block;
margin:25px 0 0
}

#main h2 a:link,#main h2 a:visited {
color:#000;
border:0
}

#main h2 a:hover {
color:#333;
border:0
}

#main h3 {
font-family:Georgia;
font-size:1.2em;
font-weight:400;
color:#0d0d0d;
margin-bottom:0;
text-align:left
}

#main h4 {
font-family:Arial;
font-size:1.1em;
font-weight:400;
color:#777;
padding-top:0;
margin-bottom:0
}

#sidebar p {
font-size:1.9em;
font-family:Georgia, Helvetica,Arial, sans-serif;
letter-spacing:0;
color:#293A43;
text-align:left;
border-top:1px dashed #ddd;
margin:0 0 10px 12px;
padding:2px 0 0
}

#sidebar {
width:250px;
padding-right:0;
line-height:1.5em;
font-size:1.1em;
margin:4px 0 15px 10px
}
